<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>邮件回复通知</title>
    </head>
    <style>
        .avatar1{
            border: 2px solid #2594ff;
            border-radius: 60%;
        }
    </style>
    <body>
    <div style="background-color:#ECECEC; padding: 35px;">
        <table cellpadding="0" align="center"
               style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;background:#fff;">
            <tbody>
            <tr>
                <th valign="middle"
                    style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #42a3d3; background-color: #49bcff; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                    <font face="微软雅黑" size="5" style="color: rgb(255, 255, 255); ">有人回复了你（XSH_博客）</font>
                </th>
            </tr>
            <tr>
                <td>
                    <div style="padding:25px 35px 40px; background-color:#fff;">
                        <h2 style="margin: 5px 0px; ">
                            <font color="#333333" style="line-height: 20px; ">
                                <font style="line-height: 22px; " size="4">
                                    你好，[[${parentMessage.nickname}]]</font>
                            </font>
                        </h2>
                        <p style="font-size: 15px;color: #1714ff">首先感谢来访本站！下面是你收到的回复内容</p><hr>
                            你的留言<b></b><br><br>
                        <div class="comment">
                            <div style="width: auto;height: auto;">
                                <a class="avatar">
                                    <img class="avatar1" width="80" height="80" th:src="@{${parentMessage.avatar}}" >
                                </a>
                                <div class="content">
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(parentMessage.createTime,'yyyy-MM-dd HH:mm:ss')}">2020-03-19 23:32:22</span>
                                    </div>
                                    <a class="author">
                                        <span style="font-size: large;color: #2C7EEA;font-style:oblique;" th:text="${parentMessage.nickname}">test</span>&nbsp;&nbsp;：
                                    </a>
                                    <div id="comment" style="color: #0a001f;font-size: x-large;font-family:Georgia;" class="text" th:utext="${replace1}">留言内容</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                            你收到的回复<b></b><br><br>

                        <div class="comment">
                            <div style="width: auto;height: auto;">
                                <a class="avatar">
                                    <img class="avatar1" width="80" height="80" th:src="@{${message.avatar}}" >
                                </a>
                                <div class="content">
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm:ss')}">2020-03-19 23:32:22</span>
                                    </div>
                                    <a class="author">
                                        <span style="font-size: large;color: #2C7EEA;font-style:oblique;" th:text="${message.nickname}">test</span>&nbsp;&nbsp;：
                                    </a>
                                    <div id="reply" style="color: #0a001f;font-size: x-large;font-family:Georgia;" class="text" th:utext="${replace2}">回复内容</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p align="right" style="font-size:15px;">from&nbsp;&nbsp;&nbsp;&nbsp;XSH_博客</p>
                        <p align="right" style="font-size:15px;">邮件发送时间：[[${sendTime}]]</p>
                        <p align="right" style="color: red;font-size:15px;">此为系统邮件，请勿回复</p>
                        <div style="width:700px;margin:0 auto;">
                            <div style="padding:20px 10px 0;border-top:1px solid #ccc;color:#747474;margin-bottom:20px;line-height:1.3em;font-size:20px;text-align: center;">
                                <a href="http://xiongsihao.com/Messages">点此跳转博客留言板页面</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
    <script type="text/javascript">
/*        onload=function () {
            var comment = document.getelementbyid("comment").innerHTML;
            var reply = document.getelementbyid("reply").innerHTML;
            str.replace(new RegExp(oldCode,""),newCode)
        }*/
    </script>
</html>